.out-side{
    width: 100%;
    height: 100%;
}

.login-cls {
    position: relative;
}

.back-ground-img-cls {
    margin-left: -1%;
    width: 100%;
    height: 98%;
    position: absolute;
}

.second-div a{
    text-decoration: none;
}
